<h1>{{greeting}}</h1>
<h2>All todos:</h2>
<ul *ngFor="let todo of todos">
    <li>{{todo.title}}</li>
</ul>
<section>
    <form (ngSubmit)="saveNewTodo()" #userForm="ngForm">
        <label for="title">Title:</label>
        <input type="text" [(ngModel)]="todo.title" 
            name="title" 
            id="title" 
            required #title="ngModel"><br>
        <label for="content">Content:</label>
        <input type="text" [(ngModel)]="todo.content" 
            name="content" 
            id="content" 
            required #content><br>
        <button type="submit">Add todo</button>
    </form>
</section>