main {
    text-align: center;
   /*  margin: 0rem 1rem; */
    background-color: rgb(121, 110, 110);
    min-height: 100rem;
}

header {
   /*  background-color: rgb(49, 45, 45); */
    color: antiquewhite;
}
nav {
    text-align: center;
}

div.form-and-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

div.form-and-list > * {
    flex-basis: 30%;
}
/* Details section: */
div.todo-card {
    border: 0.125rem solid black;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: gainsboro;
}

h2 {
    /* background-color: beige; */
}

footer {
    /* background-color: rgb(49, 45, 45); */
    color: antiquewhite;
}