<header>
    <nav>
        <h3>Some links here</h3>
    </nav>
</header>
<main>
    <section>
        <h1>{{getGreeting()}}</h1>
    </section>
    <div class="form-and-list">
        <app-add-todo-form></app-add-todo-form>
        <section>
            <h2>All todos:</h2>
            <div *ngFor="let todo of getTodos()">

                <div class="todo-card">
                    <h4>Title:{{todo.title}} (ID :{{todo.id}})</h4>
                    <h4>Content: </h4>
                    <p>{{todo.content}}</p>
                    <button (click)="toggleModify(this)">Modify</button>
                    <button (click)="deleteTodo(todo.id)">Delete</button>
                </div>

            </div>
        </section>
    </div>

</main>
<!-- <footer>
    <h3>Some info here</h3>
</footer> -->