div.form-and-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

div.form-and-list > * {
    flex-basis: 30%;
}
/* Details section: */
div.todo-card {
    border: 0.125rem solid black;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: gainsboro;
}
